.THIS .pageWrap{
    margin: auto;

}
.THIS .uwLogoContainer {
background-image: t('url(' + brandLogoImage  + ')');
    
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 99;
    /*cursor: pointer;*/
    position: relative;
    max-width: 100%;
    max-height: 100px;
    display: block;
    outline: 0;
    height: 100px;
    margin: 20px;
}
.THIS .navContainer{
    
    
}
.THIS .trigger-link  .profileName{
    display:none;
}
.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger{
    text-align:right;
}
.THIS .selfServiceUserProfileMenu {
    margin-top: .5em;
    margin-bottom: .5em;
}
.THIS .forceCommunityGlobalNavigation>*{
 	margin:0;   
}
.THIS .slds-col--padded {
padding: 5px !important;
}
.THIS .slds-col--padded>div {
    /* margin: .75em; */
    background: #fff;
    padding: var(--lwc-varSpacingVerticalSmall,0.75rem) var(--lwc-varSpacingHorizontalMedium,1rem);
    box-shadow: var(--lwc-cardShadow,0 2px 2px 0 rgba(0, 0, 0, 0.10));
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-cardColorBorder,rgb(221, 219, 218));
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
}
.THIS .page-content{
    background: #eee;
}
.THIS .forceCommunityAnalyticsObjectHome .folderNavigator{
                                max-width:100%;
                            }
/** REMOVE STANDARD BUTTONS FROM LIST VIEWS I.E. "NEW" **/
.THIS .forceCommunityRecordListDesktop .oneActionsRibbon a.forceActionLink {
    display: none;
}
.THIS .footer{
                                background: #fff;
                            }
.THIS .slds-button_brand:hover{
                                color:#fff !important;
                            }
.THIS .actionsContainer>div {
    display: none;
}
                            .THIS html .brandQuaternaryBgr {
    background: #FFF!important;
}